/*
:Author: David Goodger (goodger@python.org)
:Id: $Id: html4css1.css 7952 2016-07-26 18:15:59Z milde $
:Copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for the HTML output of Docutils.

See http://docutils.sf.net/docs/howto/html-stylesheets.html for how to
customize this style sheet.
*/

/* used to remove borders from tables and images */
.borderless, table.borderless td, table.borderless th {
  border: 0 }

table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important }

.first {
  /* Override more specific margin styles with "! important". */
  margin-top: 0 ! important }

.last, .with-subtitle {
  margin-bottom: 0 ! important }

.hidden {
  display: none }

.subscript {
  vertical-align: sub;
  font-size: smaller }

.superscript {
  vertical-align: super;
  font-size: smaller }

a.toc-backref {
  text-decoration: none ;
  color: black }

blockquote.epigraph {
  margin: 2em 5em ; }

dl.docutils dd {
  margin-bottom: 0.5em }

object[type="image/svg+xml"], object[type="application/x-shockwave-flash"] {
  overflow: hidden;
}

/* Uncomment (and remove this text!) to get bold-faced definition list terms
dl.docutils dt {
  font-weight: bold }
*/

div.abstract {
  margin: 2em 5em }

div.abstract p.topic-title {
  font-weight: bold ;
  text-align: center }

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em }

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif }

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title, .code .error {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif }

/* Uncomment (and remove this text!) to get reduced vertical space in
   compound paragraphs.
div.compound .compound-first, div.compound .compound-middle {
  margin-bottom: 0.5em }

div.compound .compound-last, div.compound .compound-middle {
  margin-top: 0.5em }
*/

div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

div.figure {
  margin-left: 2em ;
  margin-right: 2em }

div.footer, div.header {
  clear: both;
  font-size: smaller }

div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

div.sidebar {
  margin: 0 0 0.5em 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right }

div.sidebar p.rubric {
  font-family: sans-serif ;
  font-size: medium }

div.system-messages {
  margin: 5em }

div.system-messages h1 {
  color: red }

div.system-message {
  border: medium outset ;
  padding: 1em }

div.system-message p.system-message-title {
  color: red ;
  font-weight: bold }

div.topic {
  margin: 2em }

h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
  margin-top: 0.4em }

h1.title {
  text-align: center }

h2.subtitle {
  text-align: center }

hr.docutils {
  width: 75% }

img.align-left, .figure.align-left, object.align-left, table.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em }

img.align-right, .figure.align-right, object.align-right, table.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table.align-center {
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left }

.align-center {
  clear: both ;
  text-align: center }

.align-right {
  text-align: right }

/* reset inner alignment in figures */
div.align-right {
  text-align: inherit }

/* div.align-center * { */
/*   text-align: left } */

.align-top    {
  vertical-align: top }

.align-middle {
  vertical-align: middle }

.align-bottom {
  vertical-align: bottom }

ol.simple, ul.simple {
  margin-bottom: 1em }

ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

p.attribution {
  text-align: right ;
  margin-left: 50% }

p.caption {
  font-style: italic }

p.credits {
  font-style: italic ;
  font-size: smaller }

p.label {
  white-space: nowrap }

p.rubric {
  font-weight: bold ;
  font-size: larger ;
  color: maroon ;
  text-align: center }

p.sidebar-title {
  font-family: sans-serif ;
  font-weight: bold ;
  font-size: larger }

p.sidebar-subtitle {
  font-family: sans-serif ;
  font-weight: bold }

p.topic-title {
  font-weight: bold }

pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font: inherit }

pre.literal-block, pre.doctest-block, pre.math, pre.code {
  margin-left: 2em ;
  margin-right: 2em }

pre.code .ln { color: grey; } /* line numbers */
pre.code, code { background-color: #eeeeee }
pre.code .comment, code .comment { color: #5C6576 }
pre.code .keyword, code .keyword { color: #3B0D06; font-weight: bold }
pre.code .literal.string, code .literal.string { color: #0C5404 }
pre.code .name.builtin, code .name.builtin { color: #352B84 }
pre.code .deleted, code .deleted { background-color: #DEB0A1}
pre.code .inserted, code .inserted { background-color: #A3D289}

span.classifier {
  font-family: sans-serif ;
  font-style: oblique }

span.classifier-delimiter {
  font-family: sans-serif ;
  font-weight: bold }

span.interpreted {
  font-family: sans-serif }

span.option {
  white-space: nowrap }

span.pre {
  white-space: pre }

span.problematic {
  color: red }

span.section-subtitle {
  /* font-size relative to parent (h1..h6 element) */
  font-size: 80% }

table.citation {
  border-left: solid 1px gray;
  margin-left: 1px }

table.docinfo {
  margin: 2em 4em }

table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em }

table.footnote {
  border-left: solid 1px black;
  margin-left: 1px }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  vertical-align: top }

table.docutils th.field-name, table.docinfo th.docinfo-name {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  padding-left: 0 }

/* "booktabs" style (no vertical lines) */
table.docutils.booktabs {
  border: 0px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
}
table.docutils.booktabs * {
  border: 0px;
}
table.docutils.booktabs th {
  border-bottom: thin solid;
  text-align: left;
}

h1 tt.docutils, h2 tt.docutils, h3 tt.docutils,
h4 tt.docutils, h5 tt.docutils, h6 tt.docutils {
  font-size: 100% }

ul.auto-toc {
  list-style-type: none }

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning, div.sidebar {
/* stolen from Boostrap 3 (.panel .panel-default) */
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 0 15px 15px 15px;
}

div.attention, div.caution, div.danger, div.error, div.warning {
  /* stolen from Boostrap 3 (.panel .panel-danger) */
  border-color: #EBCCD1;
}

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title, div.sidebar p.sidebar-title,
div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
/* stolen from Boostrap 3 (.panel .panel-default .panel-heading) */
  font-size: 16px;
  color: #333;
  background-color: #F5F5F5;
  padding: 10px 15px;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
  background-color: #F5F5F5;
  border-color: #DDD;
}

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
  /* stolen from Boostrap 3 (.panel .panel-danger) */
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}

/*******************************************************************************
**  Miki_Dark
**  - Inspired by Monokai, Solarized, Synthcity
**  - Style both RST and IPYNB posts
*******************************************************************************/
/* Background */
.code, .highlight, .highlight pre {
	background-color: #343434 !important;
	color: #e0e0e0 !important;
}

/* Text Selection */
.code::selection, .code *::selection, .highlight::selection, .highlight *::selection {
	background-color:#4060a0 !important;
	color: #eee !important;
}  
.code::-moz-selection, .code *::-moz-selection, .highlight::-moz-selection, .highlight *::-moz-selection {
	background-color:#4060a0 !important;
	color: #eee !important;
}

.code .err, .highlight .err { background-color: #1e0010; color: #960050 }  /* Error */

.code .c  , .highlight .c   { color: #6EA06E; font-style: italic }  /* Comment */
.code .ch , .highlight .ch  { color: #6EA06E; font-style: italic }  /* Comment.Hashbang */
.code .cm , .highlight .cm  { color: #6EA06E; font-style: italic }  /* Comment.Multiline */
.code .cp , .highlight .cp  { color: #6EA06E; font-style: italic }  /* Comment.Preproc */
.code .cpf, .highlight .cpf { color: #6EA06E; font-style: italic }  /* Comment.PreprocFile */
.code .c1 , .highlight .c1  { color: #6EA06E; font-style: italic }  /* Comment.Single */
.code .cs , .highlight .cs  { color: #6EA06E; font-style: italic }  /* Comment.Special */

.code .n  , .highlight .n   { color: #e0e0e0 }  /* Name */
.code .w  , .highlight .w   { color: #e0e0e0 }  /* Text.Whitespace */
.code .p  , .highlight .p   { color: #839496 }  /* Punctuation */
.code .o  , .highlight .o   { color: #839496 }  /* Operator */

.code .k  , .highlight .k   { color: #78B6F0; font-weight: bold }  /* Keyword */
.code .kd , .highlight .kd  { color: #78B6F0; font-weight: bold }  /* Keyword.Declaration */
.code .kp , .highlight .kp  { color: #78B6F0; font-weight: bold }  /* Keyword.Pseudo */
.code .kr , .highlight .kr  { color: #78B6F0; font-weight: bold }  /* Keyword.Reserved */
.code .kt , .highlight .kt  { color: #78B6F0; font-weight: bold }  /* Keyword.Type */
.code .ow , .highlight .ow  { color: #78B6F0; font-weight: bold }  /* Operator.Word */

.code .kn , .highlight .kn  { color: #BB7AC8; font-weight: bold }  /* Keyword.Namespace */
.code .kc , .highlight .kc  { color: #BB7AC8; font-weight: normal} /* Keyword.Constant (None) */
.code .bp , .highlight .bp  { color: #BB7AC8; font-weight: normal} /* Builtin.Pseudo (True/False) */

.code .l  , .highlight .l   { color: #eb8798 }  /* Literal */
.code .m  , .highlight .m   { color: #eb8798 }  /* Literal.Number */
.code .mb , .highlight .mb  { color: #eb8798 }  /* Literal.Number.Bin */
.code .mf , .highlight .mf  { color: #eb8798 }  /* Literal.Number.Float */
.code .mh , .highlight .mh  { color: #eb8798 }  /* Literal.Number.Hex */
.code .mi , .highlight .mi  { color: #eb8798 }  /* Literal.Number.Integer */
.code .il , .highlight .il  { color: #eb8798 }  /* Literal.Number.Integer.Long */
.code .mo , .highlight .mo  { color: #eb8798 }  /* Literal.Number.Oct */

.code .s  , .highlight .s   { color: #e6db74 }  /* Literal.String */
.code .sa , .highlight .sa  { color: #e6db74 }  /* Literal.String.Affix */
.code .sb , .highlight .sb  { color: #e6db74 }  /* Literal.String.Backtick */
.code .sc , .highlight .sc  { color: #e6db74 }  /* Literal.String.Char */
.code .dl , .highlight .dl  { color: #e6db74 }  /* Literal.String.Delimiter */
.code .sd , .highlight .sd  { color: #e6db74 }  /* Literal.String.Doc */
.code .s2 , .highlight .s2  { color: #e6db74 }  /* Literal.String.Double */
.code .sh , .highlight .sh  { color: #e6db74 }  /* Literal.String.Heredoc */
.code .si , .highlight .si  { color: #e6db74 }  /* Literal.String.Interpol */
.code .sx , .highlight .sx  { color: #e6db74 }  /* Literal.String.Other */
.code .sr , .highlight .sr  { color: #e6db74 }  /* Literal.String.Regex */
.code .s1 , .highlight .s1  { color: #e6db74 }  /* Literal.String.Single */
.code .ss , .highlight .ss  { color: #e6db74 }  /* Literal.String.Symbol */
.code .ld , .highlight .ld  { color: #e6db74 }  /* Literal.Date */
.code .se , .highlight .se  { color: #e6db74 }  /* Literal.String.Escape */

.code .nc , .highlight .nc  { color: #cb4b16; font-weight: bold }  /* Name.Class */
.code .nf , .highlight .nf  { color: #F2872F }                     /* Name.Function */
.code .nb , .highlight .nb  { color: #a9dc76 }                     /* Name.Builtin (lib functions) */

.code .fm , .highlight .fm  { color: #a9dc76 }  /* Name.Function.Magic */
.code .vc , .highlight .vc  { color: #e0e0e0 }  /* Name.Variable.Class */
.code .vg , .highlight .vg  { color: #e0e0e0 }  /* Name.Variable.Global */
.code .vi , .highlight .vi  { color: #e0e0e0 }  /* Name.Variable.Instance */
.code .vm , .highlight .vm  { color: #BB7AC8 }  /* Name.Variable.Magic */

.code .nt , .highlight .nt  { color: #dc322f; font-weight: bold }  /* Name.Tag */
.code .na , .highlight .na  { color: #CE87DC; font-style: italic}  /* Name.Attribute */

.code .no , .highlight .no  { color: #BB7AC8 }  /* Name.Constant */
.code .nd , .highlight .nd  { color: #839496 }  /* Name.Decorator */
.code .ni , .highlight .ni  { color: #a9dc76 }  /* Name.Entity */
.code .ne , .highlight .ne  { color: #a9dc76 }  /* Name.Exception */
.code .nl , .highlight .nl  { color: #4EC9B0 }  /* Name.Label */
.code .nn , .highlight .nn  { color: #e0e0e0 }  /* Name.Namespace */
.code .nx , .highlight .nx  { color: #e0e0e0 }  /* Name.Other */
.code .py , .highlight .py  { color: #e0e0e0 }  /* Name.Property */
.code .nv , .highlight .nv  { color: #e0e0e0 }  /* Name.Variable */

.code .gp , .highlight .gp  { color: #888888 }  /* Generic.Prompt */
.code .go , .highlight .go  { color: #888888 }  /* Generic.Output */
.code .gd , .highlight .gd  { color: #f92672 }  /* Generic.Deleted */
.code .gi , .highlight .gi  { color: #a6e22e }  /* Generic.Inserted */
.code .gh , .highlight .gh  { color: #eab7b4 }  /* Generic.Heading */
.code .gu , .highlight .gu  { color: #eb8798 }  /* Generic.Subheading */
.code .ge , .highlight .ge  { font-style: italic}  /* Generic.Emph */
.code .gs , .highlight .gs  { font-weight: bold }  /* Generic.Strong */



/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px;background:#000;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}

/*******************************************************************************
** BODY
*******************************************************************************/
body {
    background-color: #404040;
    background-image: url(../img/bcg/paper02/paper_darkgrey_01-16px.png);
    background-attachment: fixed;

    padding-top: 20px;

    /* Global font */
    color: #222;
    /* font-family: "Open Sans"; */
    font-family: "PT Serif";
    font-size: 15px;
    line-height: 1.6;
}

/* Font for posts content */
.entry-content {

}

#body_container {
}

/* Border radius and shadow for body parts */
.bodypart {
    border-radius: 7px;
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.4), 2px 4px 16px 0 rgba(0, 0, 0, 0.3); 
}


/*******************************************************************************
** PAGE CONTAINER + SIDEBAR
*******************************************************************************/
#page_container {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

#page_main {
    background-color: #dcd7c6;
    background-image: url(../img/bcg/paper02/paper_beige_01.jpg);

    flex: 1;
    overflow: hidden;

    padding: 50px 40px 50px 40px;
    margin-top: 25px;
}

#page_sidebar {
    flex: 0 0 215px;    /* sidebar width */
    order: 1;

    padding: 0px 0px 0px 0px;
    margin-left: 25px;
}


/*******************************************************************************
** SIDEBAR WIDGETS
*******************************************************************************/
.widget {
    background-color: #dcd7c6;
    background-image: url(../img/bcg/paper02/paper_beige_01.jpg);
    line-height: 1.2;

    margin: 25px 0 0px 0;
    padding: 0 12px 10px 12px;
}

.widget-title {
    background-color: rgba(0, 0, 0, 0.25);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    color: #404040;
    font-family: "Oswald";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;

    margin: 0 -12px 12px -12px;
    padding: 0px 12px;
}

/*** Widget Lists ***/
.widget > ul{
    padding-left: 1.3em;
    margin: 0 0 10px 0;
}
.widget > ul ul{
    padding-left: 25px;
}
.widget li {
    list-style: none;
    margin-top: 6px;
    margin-bottom: 6px;
}
.widget ul > li::before {
    color: rgba(0, 0, 0, 0.3);  
    font-family: FontAwesome;
    display: inline-block;
    text-align: left;
    width: 1.3em;
    margin-left: -1.3em;
}
ul.recent-posts > li {
    margin-bottom: 12px !important;
}
ul.category-list > li::before {
    content: "\f07c";
}
ul.tag-list > li::before {
    content: "\f02b";
}
ul.recent-posts > li::before {
    content: "\f017";
}
ul.archive-list > li::before {
    content: "\f073";
}
.widget-list-count {
    color: #404040;
}

/*** Flickr ***/
#widget-flickr-pics div {
    margin: 0 0 12px 0;
}
#widget-flickr-pics img {
    width: 100%;
    border-radius: 3px;
    /* box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.4); */
}


/*******************************************************************************
** HEADER
*******************************************************************************/
#body_header {
    background-image: url(../img/header/header_meshlogic_01-0.jpg);
    background-position: center top;
    border-radius: 7px 7px 0 0;

    position: relative;
    height: 180px;
}
#body_header > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
}
#body_header > a > i {
    display: none;
}


/*******************************************************************************
** NAVBAR
*******************************************************************************/
.navbar {
    background-color: #333;
    background-image: url(../img/navbar/metal_dark_02-navbar.png);
    background-repeat: repeat-x;
    border-radius: 0;

    font-family: "Oswald";
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.5);

    margin: 0 auto -50px auto;
}
.navbar-collapse {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #c0c0c0;
}
.navbar-brand #blog-title {
    padding: 0 15px !important;
}

.dropdown-menu {
    background-color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), inset 0px 0px 1px 0 rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 4px;
}
#homelink::before {
    font-family: FontAwesome;
    font-size: 1.33em;
    font-weight: normal;
    display: inline-block;
    line-height: .75em;
    vertical-align: -5%;
    margin-right: 7px;
    content: "\f015";
}
#sourcelink::before {
    font-family: FontAwesome;
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    line-height: .75em;
    /* vertical-align: -10%; */
    margin-right: 6px;
    content: "\f121";
}


/*******************************************************************************
** FOOTER
*******************************************************************************/
#body_footer {
    background-color: #333;
    background-image: url(../img/navbar/metal_dark_02-footer.png);    

    color: #c0c0c0;
    text-align: center;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.5);

    padding-top: 12px;
    margin: 25px auto 25px auto;
    height: 110px;
}
#body_footer a {
    color: #508BF0;
}
#body_footer a:hover {
}
.counter {
    display: inline;
    vertical-align: 1px;
    opacity: 0.7;
}
.counter::before {
    content: " — ";
}

#social_icons {
    margin-top: 10px;
}
#social_icons a {
    color: #777;
    margin-left: 5px;
    margin-right: 5px;
}
#social_icons a:hover {
    /* color: #4070C0; */
    color: #ddd;
}


/*******************************************************************************
** POST LISTS (Archive)
*******************************************************************************/
ul.postlist {
    margin-top: 0px;
}
ul.postlist li {
    margin-bottom: 4px;
}
.listdate::after {
    content: " — ";
}
.listtitle {
    font-weight: bold;
}


/*******************************************************************************
** POST INDEX PAGES
*******************************************************************************/
header.index-header h1, .listpage h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 30px !important;
}

.postindex {
    margin-top: 0em;
}

.post-teaser {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    display: flex;
    padding: 12px;
    margin-bottom: 32px;
}

/*** Teaser Preview Image ***/
.teaser-image {
}
.teaser-image img{
    width: 192px;
    border-radius: 3px;
}

/*** Teaser Content ***/
.teaser-content {
    margin-left: 15px;
}

/*** Title ***/
.teaser-title, .teaser-title a{
    color: #505050;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Oswald;

    padding: 0;
    margin: 0;
}

/*** Metadata ***/
.post-teaser .metadata {
    margin-top: 10px;
    margin-bottom: 5px;
}
.metadata p {
    display: inline;
}
.metadata p::before {
    color: rgba(0, 0, 0, 0.3);
    font-family: FontAwesome;
    font-style: normal;
    font-size: 16px;

    margin-left: 15px;
    margin-right: 3px;
}
.metadata p:first-of-type::before{
    margin-left: 0px;
} 
.byline::before {
    content: "\f007";
}
.dateline::before {
    content: "\f073";
}
.commentline::before {
    content: "\f086";
}
.tagline::before {
    content: "\f02c";
}
.sourceline::before {
    content: "\f121";
    font-weight: bold;
}
.tagline span::after {
    content: ", ";
}
.tagline span:last-of-type::after {
    content: "";
}

/*** Post Description ***/
.post-description {
    padding: 0;
    margin: 0;
    font-style: italic;
}
.entry-summary {
    margin-top: 12px;
}
.more {
}


/*******************************************************************************
** POST-TEXT
*******************************************************************************/
.post-text > header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.post-text > header > .metadata {
    margin-top: 12px;
    margin-bottom: 5px;
}

/* Post main container */
.entry-content {
    margin-top: 15px;
    margin-bottom: 0px;
}


/*******************************************************************************
** POST NAV
*******************************************************************************/
.postpromonav {
    margin-top: 30px;
    margin-bottom: 0px;
}
.pager {
    margin-top: 30px;
    margin-bottom: 0px;
}


/*******************************************************************************
** TAGS
*******************************************************************************/
ul.list-inline {
    margin-top: 12px;
}

.tags {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    text-align: center;
}
.tags > li {
    display: inline-block;
}

.tags > li > a {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    min-width: 10px;
    margin: 0 2px;
    padding: 2px 12px 3px 12px;

    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: baseline;
}
.tags > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #446e9b;
}

.badge {
    background-color: #446e9b;
    border-radius: 20px;
    padding: 6px 10px 6px 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}



/*******************************************************************************
** DISQUS
*******************************************************************************/
.comments {
    margin-top: 50px;
}
.comments > h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
#disqus_thread {
    padding: 0 5px;
    margin-bottom: -20px;
}


/*******************************************************************************
** GALLERY + LISTINGS
*******************************************************************************/
/* Navigation bar */
nav.breadcrumbs {
    margin-top: 0;
}
/* Header under nav bar */
nav.breadcrumbs + h1 {
    margin-top: 30px;
}

/* Listing icon */
i.glyphicon-folder-open {
    margin-right: 8px;
}

/* Container of all gallery thumbnails */
#gallery_container {
    margin: 35px auto;
}

/* Gallery row of thumbnails */
.flowr-row {
    width: 100%;
    margin-bottom: 15px;
}

/* Gallery thumbnail */
.image-block img {
    padding: 4px;
    background-color: #faf9f5;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.4);
}




/*******************************************************************************
** Other
*******************************************************************************/
#contentcolumn {
    max-width: 760px;
}

#q {
    width: 150px;
}

.postbox {
    border-bottom: 2px solid darkgrey;
    margin-bottom: 12px;
}

.titlebox {
    text-align: right;
}

#addthisbox {margin-bottom: 12px;}

td.label {
    /* Issue #290 */
    background-color: inherit;
}

.footnote-reference {
    /* Issue 290 */
    vertical-align: super;
    font-size: xx-small;
}

.caption {
    /* Issue 292 */
    text-align: center;
    padding-top: 1em;
}

div.figure > img,
div.figure > a > img {
    /* Issue 292 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote p, blockquote {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

ul.bricks > li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
    margin: 3px;
}

.at300b, .stMainServices, .stButton, .stButton_gradient {
    box-sizing: content-box;
}

pre, pre code {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
}

.image-block {
    display: inline-block;
}




/*******************************************************************************
** CONTAINERS
*******************************************************************************/
.container-960px {
    max-width: 960px;
    margin: 0 auto;
}
.container-990px {
    max-width: 990px;
    margin: 0 auto;
}
.container-1000px {
    max-width: 1000px;
    margin: 0 auto;
}
.container-1024px {
    max-width: 1024px;
    margin: 0 auto;
}


/*******************************************************************************
** Responsive Sizes
*******************************************************************************/
/* Modify style when the screen shrinks */
@media (max-width: 1114px)
{
    body {
        /* padding-top: 0px; */
    }
    .bodyarea, .navbar {
        /* border-radius: 0px; */
    }
    #page_main {
        /* margin-top: 0px; */
    }
    #page_sidebar {
        display: none;
    }
}
@media (max-width: 1264px)
{
    #page_sidebar {
        flex: 0 0 195px;    /* sidebar width */
    }
}


/*******************************************************************************
** PRINT STYLE
*******************************************************************************/
@media print
{
    #body_footer, #body_header, .navbar, .tags, .badge, .carousel {
        display: none !important;
    }

    body, #body_container, #page_container, #page_main {
        padding: 0;
        margin: 0;
        display: block !important;
    }

    /* Avoid page breaks (not working?) */
    h1, h2, h3, h4, h5, h6, dt {
        page-break-after: avoid;
    }
    p, li, .figure, img {
        page-break-inside: avoid;
    }

    /* Disable links */
    a[href]::after {
        content: none !important;
    }

    /* Code colors */
    code {
        background-color: #e0e0e0 !important;
        color: #000;
    }
    .code, .highlight, .highlight pre,
    .code *, .highlight * {
        background-color: #e0e0e0 !important;
        color: #000 !important;
    }
}
    


/*******************************************************************************
** Header Titles
*******************************************************************************/
h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-family: Oswald;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;

    margin-top: 2em;
    margin-bottom: 12px;    
}
h1 {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 12px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}

/* RST rubric directive (like informal heading) */
p.rubric {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin-top: 1.8em;
    margin-bottom: 10px;
    color: #303030;
}


/*******************************************************************************
** Texts
*******************************************************************************/
p {
    text-align: justify;
    margin-bottom: 1em;
}
em {
    font-style: italic;
}
.text-info {
    font-style: italic;
    color: #0071AA;
}
strong {
    font-weight: bold;
    font-style: italic;
}
hr {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    margin: 15px 0;
}
hr.docutils {
    width: 100%;
}
/* Empty lines container generated by | in .rst */
div.line-block {
    margin-top: 0;
    margin-bottom: 0;
}
div.line-block > .line {
}


/*******************************************************************************
** Blockquotes
** - By paragraph indentation in RST
*******************************************************************************/
blockquote {
    border-left: 5px solid #a09a90;
    padding: 12px 24px;
    margin: 0 0 1em;
}
blockquote, blockquote p {
    font-size: 15px;
    line-height: 1.6;   
}


/*******************************************************************************
** Admonitions
** - RST commands:
** .. Tip::
** .. Note::
** .. admonition:: Title text
*******************************************************************************/
div.admonition {
    background-color: rgba(128, 128, 128, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    box-shadow: none;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.3);
    padding: 0 15px 5px 15px;
    margin: 25px 40px 30px;
    overflow: hidden;
}

p.admonition-title {
    background-color: rgba(0, 0, 0, 0.15) !important;
    color: #404040  !important;
    font-size: 16px  !important;
    text-transform: uppercase  !important;
    line-height: 35px  !important;

    border: 0 !important;
    padding: 0px 15px !important;
    margin: 0 -15px 1ex -15px !important;
}


/*******************************************************************************
** Lists
*******************************************************************************/
/* Description list */
/*----------------------------------------------------------------------------*/
/* Container of all desc. lists */
dl.docutils {
    margin-bottom: 20px;
}
/* Title */
dl.docutils dt {
    /* color: #333; */
    font-size: 16px;
    font-weight: bold;
    font-style: italic;

    margin-top: 0px;
    margin-bottom: 0px;
}
/* List itself */
dl.docutils dd {
    margin-bottom: 20px;
}


/* Default simple list */
/*----------------------------------------------------------------------------*/
ul {
    padding-left: 40px;
}
ul.simple {
    margin-bottom: 15px;
}
ul.simple li{
    margin-bottom: 0px;
}


/* Pros x Cons lists */
/*----------------------------------------------------------------------------*/
ul.pros-list, ul.cons-list {
    list-style: none;
    margin-bottom: 0 !important;
}
ul.pros-list + p, ul.cons-list + p{
    margin-top: 1em;
}
ul.pros-list > li, ul.cons-list > li {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    position: relative;
}
ul.pros-list > li::before, ul.cons-list > li::before {
    position: absolute;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    top: -2px;
    width: 1.3em;
    left: -1.3em;
}
ul.pros-list > li::before {
    color: #00C843;
    content: "\2714";
}
ul.cons-list > li::before {
    color: #D01919;
    content: "\2718";
}


/* Custom List */
/*----------------------------------------------------------------------------*/
ul.custom-list {
    list-style: none;
    margin-bottom: 0 !important;
}
ul.custom-list > li {
    position: relative;
    margin-bottom: 1ex !important;
}
ul.custom-list > li > span {
    display: inline-block;
    position: absolute;
    width: 2em;
    left: -2em;
    top: 0;
    text-align: center;
    color: #303030;
}


/* Instruction List */
/*----------------------------------------------------------------------------*/
ul.instruction-list {
    list-style: none;
    padding: 0;    
}
ul.instruction-list, div.instruction-list {
    margin-left: 40px;
}
ul.instruction-list > li {
    position: relative;
}
ul.instruction-list > li > span:first-child {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 40px;
    left: -40px;
    /*color: #446E9B;*/
    color: #3a87ad;
    font-size: 18px;
    font-family: "Segoe UI", "Calibri", sans-serif;
    font-weight: bold;
    text-align: center;
}

ol.instruction-list {
    list-style: none;
    padding: 0;
    counter-reset: mycounter;
}

ol.instruction-list > li {
    position: relative;
    margin-left: 40px;
}

ol.instruction-list > li::before {
    content: counter(mycounter); 
    counter-increment: mycounter;

    background: #446e9b;
    color:#eee;

    font-family: Oswald;
    font-size: 16px;
    font-weight: normal;
    text-align: center;

    position: absolute;
    display: inline-block;
    top: 5px;
    left: -40px;
    width: 28px;
    height: 28px;
    line-height: 27px;
    border-radius: 50%;
}

/* Addon List */
/*----------------------------------------------------------------------------*/
ul.addon-list {
    list-style: none;
    padding: 0;    
}
ul.addon-list li {
    font-family: Oswald;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    margin-left: 45px;
    margin-bottom: 4px;
}
ul.addon-list li::before {
    color: #555;  
    color: rgba(0, 0, 0, 0.3);  
    font-family: FontAwesome;
    /* font-size: 16px; */
    font-weight: bold;
    text-align: left;

    position: absolute;
    display: inline-block;
    top: 0;
    width: 1.4em;
    margin-left: -1.4em;
    content: "\f1b2";
}


/*******************************************************************************
** Vertical Skips
*******************************************************************************/
.li-noskip li {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.li-tinyskip li {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
.li-smallskip li {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}
.li-medskip li {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.li-bigskip li {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.li-hugeskip li {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
div.li-hugeskip {
    margin-top: -1em !important;
}


/*******************************************************************************
** IN-LINE Code
*******************************************************************************/
code, tt {
    background-color: rgba(128, 128, 128, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 2px 4px 2px;

    color: #000 !important;
    font-size: 13px;
    vertical-align: 5%;
    white-space: nowrap;
}


/*******************************************************************************
** Code Block
*******************************************************************************/
/* Basic code font style */
pre {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 13px !important;
    line-height: 18px !important;
}

/* Code blocks for RST */
pre.code {
    border: 0;
    border-radius: 7px;
    padding: 10px 15px;
    margin: 1.5em 0;
}



/*******************************************************************************
** Code Block (table) with line numbers
*******************************************************************************/
table.codetable {
    background-color: #343434;

    width: 100%;
    table-layout: fixed;
    white-space: nowrap;

    border-collapse: initial;
    overflow: hidden;
    border: 0;
    border-radius: 7px;
    
    margin: 1.5em 0;
    padding: 8px;
}

/* Code block */
td.code {
    width: 100%;
    height: auto;
    overflow: auto;

    border: 0;
    margin: 0;
    padding: 0;
    padding-left: 15px;
}
td.code pre {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Line-numbers block */
td.linenos {
    background-color: transparent;
    vertical-align: top;

    padding: 0;
    margin: 0;
    width: 52px;
}
div.linenodiv pre {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-right: 0px solid rgba(255, 255, 255, 0.1);

    margin: 0;
    padding: 0;

    /* color: rgba(255, 255, 255, 0.2); */
    color: #666;
    text-align: right;
    cursor: default;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
td.linenos pre a {
    color: inherit;
}


/*******************************************************************************
** Math
*******************************************************************************/
.math {
    margin-top: 1em;
    margin-bottom: 1em;
}


/*******************************************************************************
** Figures, Images
*******************************************************************************/
/* Flexbox Container for Figures */
/* RST usage: .. container:: figures-container center */
.figures-container {
    width: 100%;
    padding: 0;
    margin: 1.5em 0 0 0;
    display: flex;
    flex-wrap: wrap;
}
.figures-container > .figure {
    margin: 0 12px 24px 12px !important;
    clear: none !important;
    /*flex-grow: 1;
    flex-basis: 0;*/
}

/*** Figure ***/
.figure {
    display: table !important;
}
.figure img {
    width: 100%;
}
img.figure, img.figure-radius, img.figure-round {
    border-radius: 4px;
    box-shadow: 1px 2px 6px 0 rgba(0,0,0,0.5);
}
.figure.align-left {
    margin-top: 0;
    margin-left: 0;
    margin-right: 1.2em;
    margin-bottom: 1.0em;
}
.figure.align-right {
    margin-top: 0;
    margin-left: 1.2em;
    margin-right: 0;
    margin-bottom: 1.0em;
}
.figure.align-center {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/*** Thumbnail - Figure with frame ***/
img.thumbnail {
    margin-bottom: 0;
}
.thumbnail, .thumbnail > .caption {
    border: 0;
    background-color: #faf9f5;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.4);
}

/*** Caption ***/
.caption {
    font-size: 14px;
    line-height: 1.285714286;
    margin: 0;
    padding: 8px 2px 8px 2px !important;
}
.figure > .caption {
    display: table-caption;
    caption-side: bottom;
    position: relative;
}
.thumbnail > .caption{
    margin-top: -4px;
    border-radius: 0 0 4px 4px;
}


/*******************************************************************************
** Videos
*******************************************************************************/
.youtube-video {
    margin-top: 2em;
}

.video {
    display: block;
    border-radius: 4px;
    margin-top: 2em;
}

.video.center {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}


/*******************************************************************************
** Carousel Slideshow
*******************************************************************************/
.carousel {
    margin: 25px auto 25px auto;
}
.carousel-inner {
    border-radius: 12px;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.5);
    background-color: rgba(0, 0, 0, 0.08) !important;
}
.carousel-control {
    width: 15%;
    opacity: 0.5;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.carousel-control:hover,
.carousel-control:focus {
    opacity: 1.0;
}
.carousel-control.left {
  background: 0;
}
.carousel-control.right {
  background: 0;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 15%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 15%;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    margin-top: -30px;
    font-size: 60px;
}
.carousel-indicators {
    margin-bottom: 0;
    bottom: 4px;
}

