/*******************************************************************************
** Header Titles
*******************************************************************************/
h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-family: Oswald;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;

    margin-top: 2em;
    margin-bottom: 12px;    
}
h1 {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 12px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}

/* RST rubric directive (like informal heading) */
p.rubric {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin-top: 1.8em;
    margin-bottom: 10px;
    color: #303030;
}


/*******************************************************************************
** Texts
*******************************************************************************/
p {
    text-align: justify;
    margin-bottom: 1em;
}
em {
    font-style: italic;
}
.text-info {
    font-style: italic;
    color: #0071AA;
}
strong {
    font-weight: bold;
    font-style: italic;
}
hr {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    margin: 15px 0;
}
hr.docutils {
    width: 100%;
}
/* Empty lines container generated by | in .rst */
div.line-block {
    margin-top: 0;
    margin-bottom: 0;
}
div.line-block > .line {
}


/*******************************************************************************
** Blockquotes
** - By paragraph indentation in RST
*******************************************************************************/
blockquote {
    border-left: 5px solid #a09a90;
    padding: 12px 24px;
    margin: 0 0 1em;
}
blockquote, blockquote p {
    font-size: 15px;
    line-height: 1.6;   
}


/*******************************************************************************
** Admonitions
** - RST commands:
** .. Tip::
** .. Note::
** .. admonition:: Title text
*******************************************************************************/
div.admonition {
    background-color: rgba(128, 128, 128, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    box-shadow: none;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.3);
    padding: 0 15px 5px 15px;
    margin: 25px 40px 30px;
    overflow: hidden;
}

p.admonition-title {
    background-color: rgba(0, 0, 0, 0.15) !important;
    color: #404040  !important;
    font-size: 16px  !important;
    text-transform: uppercase  !important;
    line-height: 35px  !important;

    border: 0 !important;
    padding: 0px 15px !important;
    margin: 0 -15px 1ex -15px !important;
}


/*******************************************************************************
** Lists
*******************************************************************************/
/* Description list */
/*----------------------------------------------------------------------------*/
/* Container of all desc. lists */
dl.docutils {
    margin-bottom: 20px;
}
/* Title */
dl.docutils dt {
    /* color: #333; */
    font-size: 16px;
    font-weight: bold;
    font-style: italic;

    margin-top: 0px;
    margin-bottom: 0px;
}
/* List itself */
dl.docutils dd {
    margin-bottom: 20px;
}


/* Default simple list */
/*----------------------------------------------------------------------------*/
ul {
    padding-left: 40px;
}
ul.simple {
    margin-bottom: 15px;
}
ul.simple li{
    margin-bottom: 0px;
}


/* Pros x Cons lists */
/*----------------------------------------------------------------------------*/
ul.pros-list, ul.cons-list {
    list-style: none;
    margin-bottom: 0 !important;
}
ul.pros-list + p, ul.cons-list + p{
    margin-top: 1em;
}
ul.pros-list > li, ul.cons-list > li {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    position: relative;
}
ul.pros-list > li::before, ul.cons-list > li::before {
    position: absolute;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    top: -2px;
    width: 1.3em;
    left: -1.3em;
}
ul.pros-list > li::before {
    color: #00C843;
    content: "\2714";
}
ul.cons-list > li::before {
    color: #D01919;
    content: "\2718";
}


/* Custom List */
/*----------------------------------------------------------------------------*/
ul.custom-list {
    list-style: none;
    margin-bottom: 0 !important;
}
ul.custom-list > li {
    position: relative;
    margin-bottom: 1ex !important;
}
ul.custom-list > li > span {
    display: inline-block;
    position: absolute;
    width: 2em;
    left: -2em;
    top: 0;
    text-align: center;
    color: #303030;
}


/* Instruction List */
/*----------------------------------------------------------------------------*/
ul.instruction-list {
    list-style: none;
    padding: 0;    
}
ul.instruction-list, div.instruction-list {
    margin-left: 40px;
}
ul.instruction-list > li {
    position: relative;
}
ul.instruction-list > li > span:first-child {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 40px;
    left: -40px;
    /*color: #446E9B;*/
    color: #3a87ad;
    font-size: 18px;
    font-family: "Segoe UI", "Calibri", sans-serif;
    font-weight: bold;
    text-align: center;
}

ol.instruction-list {
    list-style: none;
    padding: 0;
    counter-reset: mycounter;
}

ol.instruction-list > li {
    position: relative;
    margin-left: 40px;
}

ol.instruction-list > li::before {
    content: counter(mycounter); 
    counter-increment: mycounter;

    background: #446e9b;
    color:#eee;

    font-family: Oswald;
    font-size: 16px;
    font-weight: normal;
    text-align: center;

    position: absolute;
    display: inline-block;
    top: 5px;
    left: -40px;
    width: 28px;
    height: 28px;
    line-height: 27px;
    border-radius: 50%;
}

/* Addon List */
/*----------------------------------------------------------------------------*/
ul.addon-list {
    list-style: none;
    padding: 0;    
}
ul.addon-list li {
    font-family: Oswald;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    margin-left: 45px;
    margin-bottom: 4px;
}
ul.addon-list li::before {
    color: #555;  
    color: rgba(0, 0, 0, 0.3);  
    font-family: FontAwesome;
    /* font-size: 16px; */
    font-weight: bold;
    text-align: left;

    position: absolute;
    display: inline-block;
    top: 0;
    width: 1.4em;
    margin-left: -1.4em;
    content: "\f1b2";
}


/*******************************************************************************
** Vertical Skips
*******************************************************************************/
.li-noskip li {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.li-tinyskip li {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
.li-smallskip li {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}
.li-medskip li {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.li-bigskip li {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.li-hugeskip li {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
div.li-hugeskip {
    margin-top: -1em !important;
}


/*******************************************************************************
** IN-LINE Code
*******************************************************************************/
code, tt {
    background-color: rgba(128, 128, 128, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 2px 4px 2px;

    color: #000 !important;
    font-size: 13px;
    vertical-align: 5%;
    white-space: nowrap;
}


/*******************************************************************************
** Code Block
*******************************************************************************/
/* Basic code font style */
pre {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 13px !important;
    line-height: 18px !important;
}

/* Code blocks for RST */
pre.code {
    border: 0;
    border-radius: 7px;
    padding: 10px 15px;
    margin: 1.5em 0;
}



/*******************************************************************************
** Code Block (table) with line numbers
*******************************************************************************/
table.codetable {
    background-color: #343434;

    width: 100%;
    table-layout: fixed;
    white-space: nowrap;

    border-collapse: initial;
    overflow: hidden;
    border: 0;
    border-radius: 7px;
    
    margin: 1.5em 0;
    padding: 8px;
}

/* Code block */
td.code {
    width: 100%;
    height: auto;
    overflow: auto;

    border: 0;
    margin: 0;
    padding: 0;
    padding-left: 15px;
}
td.code pre {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Line-numbers block */
td.linenos {
    background-color: transparent;
    vertical-align: top;

    padding: 0;
    margin: 0;
    width: 52px;
}
div.linenodiv pre {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-right: 0px solid rgba(255, 255, 255, 0.1);

    margin: 0;
    padding: 0;

    /* color: rgba(255, 255, 255, 0.2); */
    color: #666;
    text-align: right;
    cursor: default;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
td.linenos pre a {
    color: inherit;
}


/*******************************************************************************
** Math
*******************************************************************************/
.math {
    margin-top: 1em;
    margin-bottom: 1em;
}


/*******************************************************************************
** Figures, Images
*******************************************************************************/
/* Flexbox Container for Figures */
/* RST usage: .. container:: figures-container center */
.figures-container {
    width: 100%;
    padding: 0;
    margin: 1.5em 0 0 0;
    display: flex;
    flex-wrap: wrap;
}
.figures-container > .figure {
    margin: 0 12px 24px 12px !important;
    clear: none !important;
    /*flex-grow: 1;
    flex-basis: 0;*/
}

/*** Figure ***/
.figure {
    display: table !important;
}
.figure img {
    width: 100%;
}
img.figure, img.figure-radius, img.figure-round {
    border-radius: 4px;
    box-shadow: 1px 2px 6px 0 rgba(0,0,0,0.5);
}
.figure.align-left {
    margin-top: 0;
    margin-left: 0;
    margin-right: 1.2em;
    margin-bottom: 1.0em;
}
.figure.align-right {
    margin-top: 0;
    margin-left: 1.2em;
    margin-right: 0;
    margin-bottom: 1.0em;
}
.figure.align-center {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/*** Thumbnail - Figure with frame ***/
img.thumbnail {
    margin-bottom: 0;
}
.thumbnail, .thumbnail > .caption {
    border: 0;
    background-color: #faf9f5;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.4);
}

/*** Caption ***/
.caption {
    font-size: 14px;
    line-height: 1.285714286;
    margin: 0;
    padding: 8px 2px 8px 2px !important;
}
.figure > .caption {
    display: table-caption;
    caption-side: bottom;
    position: relative;
}
.thumbnail > .caption{
    margin-top: -4px;
    border-radius: 0 0 4px 4px;
}


/*******************************************************************************
** Videos
*******************************************************************************/
.youtube-video {
    margin-top: 2em;
}

.video {
    display: block;
    border-radius: 4px;
    margin-top: 2em;
}

.video.center {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}


/*******************************************************************************
** Carousel Slideshow
*******************************************************************************/
.carousel {
    margin: 25px auto 25px auto;
}
.carousel-inner {
    border-radius: 12px;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.5);
    background-color: rgba(0, 0, 0, 0.08) !important;
}
.carousel-control {
    width: 15%;
    opacity: 0.5;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.carousel-control:hover,
.carousel-control:focus {
    opacity: 1.0;
}
.carousel-control.left {
  background: 0;
}
.carousel-control.right {
  background: 0;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 15%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 15%;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    margin-top: -30px;
    font-size: 60px;
}
.carousel-indicators {
    margin-bottom: 0;
    bottom: 4px;
}

