/*******************************************************************************
** Body Containers
*******************************************************************************/
body {
    background-color: #606060;
    /*background: linear-gradient(#5C666B, #909090);*/
    /*background-image: url(../img/noisy-texture-256x256-o5-d10-c-707070-t0.png);*/
    background-attachment: fixed;
    padding-top: 20px;
    line-height: 1.6;
}
#body_container {
    /*background-color: #fff;*/
    background-color: #eae1d3;
    background-image: url(../img/paper_grid_01.png);
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5), 0 2px 16px 0 rgba(0, 0, 0, 0.3);
    padding: 0;
}
#body_content {
    width: 100%;
    min-height: 550px;
    padding: 50px 50px 50px 50px;
}


/*******************************************************************************
** Body Header
*******************************************************************************/
#body_header {
    background-image: url(../img/header_01_blue.jpg);
    background-position: center top;
    border-radius: 10px 10px 0 0;
    position: relative;
    height: 190px;
}
#body_header > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
}
#body_header > a > i {
    display: none;
}


/*******************************************************************************
** Navbar
*******************************************************************************/
.navbar {
    /*background-image: url(../img/noisy-texture-128x128-o4-d10-c-373737-t0.png);*/
    background-color: #303030;
    background-repeat: repeat;
    border-left-width: 0;
    border-right-width: 0;
    border: 0;
    border-radius: 0;
    /*box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5), inset 0px 0px 1px 0 rgba(0, 0, 0, 0.3);*/
    box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto -50px auto;
    z-index: 1000;
}
.navbar.affix {
    position: fixed;
    top: 0;
}
.navbar-collapse {
    padding-left: 25px;
    padding-right: 25px;
}
.navbar-right {
    margin-right: 0;
}
.dropdown-menu {
    /*background-image: url(../img/noisy-texture-128x128-o4-d10-c-373737-t0.png);*/
    background-color: #303030;
    background-repeat: repeat;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), inset 0px 0px 1px 0 rgba(0, 0, 0, 0.3);
}


/*******************************************************************************
** Comments
*******************************************************************************/
.comments {
    margin-top: 40px;
}
.comments > h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
#disqus_thread {
    padding: 0 5px;
    margin-bottom: -20px;
}


/*******************************************************************************
** Footer
*******************************************************************************/
#body_footer {
    color: #000;
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin: 15px auto 20px auto;
}
#body_footer a {
    color: navy;
}
#body_footer a:hover {
    color: #eee;
}

.counter {
    display: inline;
    vertical-align: 1px;
    opacity: 0.7;
}
.counter:before {
    content: " — ";
}

#social_icons {
    margin-top: 5px;
}
#social_icons a {
    margin-left: 5px;
    margin-right: 5px;
    color: #2a2a2a;
}


/*******************************************************************************
** Post header & container
*******************************************************************************/
.postindex > article {
    clear: both;
}

/* Post header container */
.post-text > header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.20);
}

.post-text > header > h1 {
    margin-bottom: 10px;
}

.post-text > header > h1 > a {
    font-weight: 400;
    font-size: 28px;
}

/* Post header > metadata */
.post-text > header > .metadata {
    padding-top: 0px;
    padding-bottom: 5px;
}

/* Post container */
.entry-content {
    margin-top: 12px;
    margin-bottom: 0px;
}

/* Post teaser container */
.entry-summary {
    margin-top: 12px;
    margin-bottom: -10px;
}


/*******************************************************************************
** Post list
*******************************************************************************/
.metadata p:before,
.postlist .listdate:after {
    content: " — ";
}
.postlist li {
    margin-bottom: 0.5ex;
}
.listtitle {
    font-weight: bold;
}
.metadata p:first-of-type:before {
    content: "";
}
.metadata p {
    display: inline;
}
.posttranslations h3 {
    display: inline;
    font-size: 1em;
    font-weight: bold;
}
.posttranslations h3:last-child {
    display: none;
}


/*******************************************************************************
** Post navigation
*******************************************************************************/
.postpromonav {
    margin-top: 30px;
    margin-bottom: 0px;
}
.pager {
    margin-top: 30px;
    margin-bottom: 0px;
}



/*******************************************************************************
** Other
*******************************************************************************/
#container {
    width: 960px;
    margin: 0 auto;
}

.flowr_row {
    width: 100%;
}

.row {
    margin: 0;
}

.navbar-brand {
    padding: 0 15px;
}
.navbar-brand #blog-title {
    padding: 15px 0;
    display: inline-block;
}
.navbar-brand #logo {
    max-width: 100%;
}
.navbar-brand>img {
    display: inline;
}

#contentcolumn {
    max-width: 760px;
}

#q {
    width: 150px;
}

.postbox {
    border-bottom: 2px solid darkgrey;
    margin-bottom: 12px;
}

.titlebox {
    text-align: right;
}

#addthisbox {margin-bottom: 12px;}

td.label {
    /* Issue #290 */
    background-color: inherit;
}

.footnote-reference {
    /* Issue 290 */
    vertical-align: super;
    font-size: xx-small;
}

.caption {
    /* Issue 292 */
    text-align: center;
    padding-top: 1em;
}

div.figure > img,
div.figure > a > img {
    /* Issue 292 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote p, blockquote {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

ul.bricks > li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
    margin: 3px;
}

.at300b, .stMainServices, .stButton, .stButton_gradient {
    box-sizing: content-box;
}

pre, pre code {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
}

article.post-micro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

.image-block {
    display: inline-block;
}


/*******************************************************************************
** Print Style
*******************************************************************************/
@media print
{
    #body_footer, #body_header, .navbar, .tags, .badge {
        display: none;
    }

    body, #body_content, #body_container {
        padding: 0;
        margin: 0;
    }

    .container {
        width: 100% !important;
        float: none !important;
    }

    article .entry-title a[href]:after,
    article .metadata a[href]:after,
    article .tags a[href]:after {
        content: "";
    }

    article .metadata .sourceline {
        display: none;
    }

    article .metadata .linkline a[href]:after {
        content: " (" attr(href) ")";
    }
}

