/*******************************************************************************
** Body layout & containers
*******************************************************************************/
body {
    background-color: #707070;
    background-image: url(../img/noisy-texture-256x256-o5-d10-c-707070-t0.png);
    background-attachment: fixed;
    padding-top: 20px;
    line-height: 1.6;
}

#body_container {
    background-color: #eae1d3;
    background-image: url(../img/paper_grid_01.png);
    padding: 0;
    border-radius: 15px;
    box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.5), 0 0px 20px 0 rgba(0, 0, 0, 0.4);
}

#body_header {
    background-image: url(../img/header_01_blue.jpg);
    background-position: center top;
    height: 190px;
    border-radius: 15px 15px 0 0;
}

#body_content {
    width: 100%;
    min-height: 500px;
    padding: 65px 40px 50px 40px;
}
.page_content {
    margin-bottom: 0px;
}
.postpromonav {
    margin-top: 30px;
    margin-bottom: -50px;
}

#body_footer {
    color: #000;
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin: 17px auto 40px auto;
}
#body_footer a {
    color: darkblue;
}
#body_footer a:hover {
    color: #f0f0f0;
}
.counter {
    display: inline;
    vertical-align: 1px;
    opacity: 0.7;
}


/*******************************************************************************
** Navbar
*******************************************************************************/
.navbar {
    border-left-width: 0;
    border-right-width: 0;
    border: 0;
    border-radius: 0;
    margin: 0 auto -50px auto;
    background-image: url(../img/noisy-texture-128x128-o4-d10-c-373737-t0.png);
    background-repeat: repeat;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5), inset 0px 0px 1px 0 rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.navbar.affix {
    position: fixed;
    top: 0;
}
.navbar-collapse {
    padding-left: 25px;
    padding-right: 25px;
}
.navbar-right {
    margin-right: 0;
}
.dropdown-menu {
    background-image: url(../img/noisy-texture-128x128-o4-d10-c-373737-t0.png);
    background-repeat: repeat;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), inset 0px 0px 1px 0 rgba(0, 0, 0, 0.3);
}


/*******************************************************************************
** Typography
*******************************************************************************/
p {
    text-align: justify;
    margin-bottom: 1em;
}
h1 {
    margin-top: 1em;
    font-size: 32px;
    font-weight: 700;
}
h1 > a {
    font-weight: 400;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h2, h3, h4, h5, h6 {
    margin-top: 2em;
    font-weight: 700;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
    font-style: italic;
}
.text-info {
    font-style: italic;
}


/*******************************************************************************
** Lists
*******************************************************************************/
/* Description list */
dt {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1ex;
    font-size: 16px;
}
dd {
    margin-top: 1ex;
    margin-bottom: 1ex;
}


/* Simple list */
ul.simple {
    margin-bottom: 1em;
}
ul.simple li{
    margin-bottom: 1ex;
}


/*** Custom List ***/
.custom-list {
    list-style: none;
}
.custom-list > li:before {
    position: absolute;
    margin-left: -1.2em;
    font-weight: bold;
}
.pro-item:before {
    content: "\2714";
    color: #468847;
}
.con-item:before {
    content: "\2718";
    color: #b94a48
}


/*******************************************************************************
** Tags
*******************************************************************************/
.tags > li {
    background-color: #999;
    border-radius: 20px;
    padding: 4px 10px 5px 10px;
    margin: 0 2px;
    font-size: 13px;
    font-weight: bold;
}
.badge {
    background-color: #0e81e6;
    border-radius: 20px;
    padding: 5px 10px 6px 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}



/*******************************************************************************
** Code blocks
*******************************************************************************/
/* Code in-block */
.code {
    background-color: rgba(255, 255, 255, 0.25) !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding: 0.4em;
    color: black;
    font-size: 14px;
    line-height: 18px;
}

/* Code in-line */
code {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 3px !important;
    padding: 2px 4px 1px 4px !important;
    color: #202020 !important;
    font-size: 14px !important;
}



/*******************************************************************************
** Math
*******************************************************************************/
.math {
    margin-top: 1em;
    margin-bottom: 1em;
}



/*******************************************************************************
** Figures, Images
*******************************************************************************/
.figures {
    width: 100%;
    padding: 0;
    margin: 1.5em 0 0 0;
    display: flex;
    flex-wrap: wrap;
}
.figures-center {
    justify-content: space-around;
}
.figures div {
    clear: none !important;
    margin: 0 24px 24px 0 !important;
    flex-grow: 1;
    flex-basis: 0;
}
.thumbnail {
    border: 0;
    box-shadow: 0px 2px 3px 0 rgba(0,0,0,0.4);
}
.figure {
    display: table !important;
    width: 50px;
}
.figure.align-left {
    margin-left: 0;
    margin-right: 1.2em;
}
.figure.align-right {
    margin-right: 0;
    margin-left: 1.2em;
}
.figure.align-center {
    margin-top: 1.5em;
}
.figure img {
    max-width: none !important;
}
.caption {
    font-size: 14px;
    line-height: 1.285714286;
    margin: 0;
    padding: 8px 0px 4px 0px !important;
}


