{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'base_myhelper.tmpl' as mybase with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}

{# HTML HEAD  #}
    {# Macro from base_helper.tmpl #}
    {{ base.html_headstart() }}

    {# Macro from base_myhelper.tmpl #}
    {{ mybase.extra_head() }}

    {#  Leave this block alone (can be filled by various templates) #}
    {% block extra_head %}{% endblock %}

    {# Content added by plugins #}
    {{ template_hooks['extra_head']() }}
</head>
<body>


<!-- BODY CONTAINER !! -->
<div id="body_container" class="container">

    <!-- HEADER -->
    <header id="body_header" class="bodypart hidden-print">
        <a href="/" title="Home"><i>{{ blog_description }}</i></a>

        {# Content added by plugins #}
        {{ template_hooks['page_header']() }}
    </header>
    
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-static-top hidden-print bodypart">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {% if show_blog_title %}
                <a class="navbar-brand visible-xs" href="/">
                    <span id="blog-title">{{ blog_title|e }}</span>
                </a>
            {% endif %}
        </div>

        <div id="bs-navbar" class="collapse navbar-collapse" aria-expanded="false" role="navigation">
            <ul class="nav navbar-nav">
                {{ base.html_navigation_links() }}
                {{ template_hooks['menu']() }}
            </ul>
            {% if search_form %}
                {{ search_form }}
            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                {% block belowtitle %}
                {% if translations|length > 1 %}
                    <li>{{ base.html_translations() }}</li>
                {% endif %}
                {% endblock %}
                {% if show_sourcelink %}
                    {% block sourcelink %}{% endblock %}
                {% endif %}
                {{ template_hooks['menu_alt']() }}
            </ul>
        </div>
    </nav>


    <!-- PAGE CONTAINER -->
    <div id="page_container" class="clearfix">

        <div id="page_main" class="bodypart" role="main">
            {% block content %}{% endblock %}
        </div>

        <div id="page_sidebar" class="hidden-print" role="complementary"></div>
    </div>


    <!-- BODY FOOTER !! -->
    <footer id="body_footer" class="bodypart">

        <!-- Footer content from conf.py -->
        {{ content_footer }}

        <!-- Social buttons from conf.py -->
        {{ body_end }}

        {# Content added by plugins #}
        {{ template_hooks['page_footer']() }}

        {{ template_hooks['body_end']() }}
    </footer>

</div>


<!-- SCRIPTS !! -->
{# From base_helper.tmpl #}
{{ base.late_load_js() }}

{# Fancy dates #}
<script>
    moment.locale("{{ momentjs_locales[lang] }}");
    fancydates({{ date_fanciness }}, {{ js_date_format }});
</script>

{% block extra_js %}{% endblock %}
{% if annotations and post and not post.meta('noannotations') %}
    {{ notes.code() }}
{% elif not annotations and post and post.meta('annotations') %}
    {{ notes.code() }}
{% endif %}

</body>
</html>
