{#  -*- coding: utf-8 -*- #}
{% import 'sidebar-helper.tmpl' as helper with context %}

{# Recent Posts #}
{% if global_posts %}
    {{ helper.list_posts(global_posts) }}
{% endif %}

{# Categories #}
{% if global_category_items %}
    {{ helper.list_taxonomy("Categories", global_category_items, global_category_hierarchy, type='category') }}
{% endif %}

{# Tags #}
{% if global_tag_items %}
    {{ helper.list_taxonomy("Tags", global_tag_items, type='tag') }}
{% endif %}

{# Archives #}
{% if global_archive_hierarchy %}
    {{ helper.archives(global_archive_hierarchy) }}
{% endif %}

{# Flickr #}
{{ helper.flickr() }}


